.fun-banner{
    &__section{
        @extend %divider;
        &--no-divider{
            content:unset;
        }
    }

    &__carousel{
        position: relative;
        & .carousel-inner{
            & .carousel-item{
                overflow: hidden;
                & svg{
                    height: 612px;
                    @include breakpoint(sm){
                        height: 616px;
                    }
                    object-fit: cover;
                    @include breakpoint(md){
                        height: calc(100vh - 55px - 188px);
                    }
                }

                & .fun-banner-conetnt-wrapper{
                    padding: 32px 0;
                    & .fun-text-banner__content{
                        font-family: var(--nanum);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                        color: #000;
                        max-width: 841px;
                        letter-spacing: normal;
                    }
                }
            }
        }
        // border-bottom: 1px solid var(--neutral-grey-200);
    }

    &__slider-img{
        width: 100%;
        height: 612px;
        @include breakpoint(sm){
            height: 616px;
        }
        object-fit: cover;
        @include breakpoint(md){
            height: calc(100vh - 55px - 188px);
        }
    }

    &__actions{
        display: flex;
        justify-content: flex-end;
        padding: 20px 0 28px;
        @include media-breakpoint-up(md){
            padding-bottom: 11px;
        }

        position: absolute;
        top: calc(100vh - 234px);
        right: 0;

        & .btn{
            border: 0;
            &:hover , &:active , &:focus{
                border: 0;
            }
        }
    }

    &__actions-text{
        & span{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            /* or 150% */

            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }
}