.fun-bookmark{
    $self : &;
    &__section{
        @extend %divider;
        &--no-divider{
            &::after{
                content: unset;
            }
        }
        & .splide__arrows{
            display: none;
        }

    }
    
    &__artist-list{
        font-family: var(--overpass);
        color: var(--neutral-grey-800);
    }

    &__past-row{
        display: grid;
        grid-row-gap: 40px;
        @include media-breakpoint-up(sm){
            display: flex;
        }
        row-gap: 40px;
        @include media-breakpoint-up(md){
            row-gap: 87px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-row-gap: 40px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            display: grid;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }


    &__col{
        &--past{
            @include media-breakpoint-down(sm){
                width: 100%;
            }
            @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
                width: 100%;
            }

            @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
                width: 100%;
            }
        }
    }

    &__row{
        row-gap: 1rem;
        &.splide{
            visibility: hidden;
        }
    }

    &__arrows.splide__arrows{
        display: flex;
        position: relative;
        justify-content: flex-end;
        margin-top: rem-calc(22px);
    }

    &__arrow.splide__arrow{
        position: relative;
        right: unset;
        top: unset;
        transform: unset;
        left: unset;
        background: $white;
        opacity: 1;

        & svg{
            transform: unset;
            width: 24px;
            height: 24px;
        }
    }

    &__card{
        margin-right: 15px;
        @include breakpoint(md){
            margin-right: 0;
            &:hover{
                #{$self}__fig{
                    transform: scale(1.02);
                }
            }
        }



        &--past{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-right: 0;


            #{$self}__card{
            }

            #{$self}__img{
                // max-height: 215px;
                width: 100% !important;
                height: 100% !important;
                aspect-ratio: 322/215;

                @include media-breakpoint-down(sm){
                    height: 215px !important;
                }

                @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
                    height: 150px !important;
                }

                @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
                    height: 150px !important;
                }
            }

            &-new{
                #{$self}__img{
                    width: 100% !important;
                    height: 100% !important;
                    aspect-ratio: 322/311;

                    @include media-breakpoint-down(sm){
                        height: 311 !important;
                    }

                    @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
                        height: 150px !important;
                    }

                    @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
                        height: 150px !important;
                    }
                }

                & .artist-name{
                    font-family: var(--overpass);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 1.5px;
                    color: var(--neutral-grey-600);
                    text-transform: uppercase;
                }
            }

            #{$self}__card-title{
                font-weight: 400;
                font-size: 20px;
                line-height: 21px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: $black;
                margin-bottom: 6px;
            }

            #{$self}__past-desc-wrapper{
                height: calc(100% - 215px - 24px);

            }

            #{$self}__sub-title{
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: var(--neutral-grey-500);
            }

            & .fun-event__date{
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                color: var(--neutral-grey-500);
            }
        }
    }

    &__content-wrapper{
        max-width: 250px;
    }

    &__para{
        margin-bottom: 0;
    }

    &__fig{
        margin-bottom: 24px;
        position: relative;
        transform: scale(1);
        transition: 0.3s;
    }

    &__link{
        &--hidden{
            opacity: 0;
            & span{
                visibility: hidden;
            }
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
        }
    }

    &__img{
        // width: rem-calc(254px);
        height: rem-calc(254px);
        width: 100%;
        @include media-breakpoint-up(md){
            // width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
        }
        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            width: 100%;
            height: 300px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            width: 100%;
            height: 350px;
        }

        @include breakpoint(xl){
            width: 100%;
            height: rem-calc(467px);
            // height: 100%;
        }
        object-fit: cover;

        &--essay{
            @include breakpoint(md){
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
            }

            @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
                height: 270px;
            }

            @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
                height: 270px;
            }
        }
    }

    &__card-title{
        font-family: var(--overpass);
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: rem-calc(9px);
        position: relative;
        word-break: break-all;
        hyphens: auto;

        &:hover{
            color: var(--black);
        }
    }

    &__subtitle{
        margin-bottom: rem-calc(6px);
        &--past{
            margin-bottom: 1rem;
            @include media-breakpoint-up(md){
                margin-bottom: rem-calc(27px);
            }
            color: var(--neutral-grey-500);
        }
    }

    &__date{
        font-family: var(--overpass);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: var(--neutral-grey-600);
    }
}

.fun-event{
    $self : &;
    &__section{
        @extend %divider;
        & .splide__arrows{
            display: none;
        }

    }

    &__col{
        margin-bottom: 46px;
        &:last-child{
            margin-bottom: 0;
        }
        @include media-breakpoint-up(lg){
            margin-bottom: 0;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            width: 100%;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            width: 100%;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : landscape) {
            width: 100%;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) {
            width: 100%;
        }


    }


    &__evt-row{
        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 32px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 32px;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 32px;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 32px;
        }
    }

    &__row{
        row-gap: 1rem;
        &.splide{
            visibility: hidden;
        }
    }

    &__upcoming-row{
        display: grid;
        grid-row-gap: 32px;
        @include media-breakpoint-up(sm){
            display: flex;
            row-gap: 48px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 32px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 32px;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 32px;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 32px;
        }
    }

    &__card{
        // margin-right: 15px;
        // @include breakpoint(md){
        //     margin-right: 0;
        // }
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        &:hover{
            #{$self}__fig{
                transform: scale(1.02);
            }
        }
    }

    &__para{
        margin-bottom: 0;
    }

    &__fig{
        // margin-bottom: 24px;
        margin-bottom: 0;
        position: relative;
        margin-right: 15px;
        transform: scale(1);
        transition: 0.3s;
        width: calc(100% - 15px - 164px);
        @include media-breakpoint-up(sm){
            width: calc(100% - 15px - 130px);
        }
        @include media-breakpoint-up(md){
            width: calc(100% - 25px - 149px);
            margin-right: 25px;
        }
        @include media-breakpoint-up(lg){
            width: auto;
        }
    }

    &__description-wrapper{
        max-width: 164px;
        @include media-breakpoint-up(md){
            max-width: 149px;
        }
    }


    &__link{
        &--hidden{
            opacity: 0;
            & span{
                visibility: hidden;
            }
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
        }
    }

    &__img{
        // width: rem-calc(164px);
        // height: rem-calc(164px);
        // @include breakpoint(md){
        //     width: rem-calc(235px);
        //     height: rem-calc(235px);
        //     // height: 100%;
        // }
        object-fit: cover;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        max-height: 235px;
        max-width: 235px;

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            height: 135px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            height: 174px;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : landscape) {
            height: 135px;
        }

        @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : portrait) {
            height: 174px;
        }
    }

    &__content-wrapper{
        max-width: 164px;
        @include media-breakpoint-up(sm){
            max-width: 130px;
        }
        @include media-breakpoint-up(md){
            max-width: 149px;
        }
    }

    &__card-title{
        font-family: var(--overpass);
        display: inline-block;
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $black;
        word-break: break-word;
        margin-bottom: 11px;
        @include media-breakpoint-up(md){
            margin-bottom: 8px;
        }

        &:hover{
            color: $black;
        }
    }

    &__subtitle{
        margin-bottom: rem-calc(6px);
    }

    &__date{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: var(--neutral-grey-500);
    }
}

.fun-text-banner{
    $self: &;
    &__section{
        @extend %divider;

        &--hide-divider{
            &::after{
                content: unset;
            }
        }
        &--left{
            text-align: left;
        }

        &--center{
            text-align: center;
            #{$self}__content{
                max-width: 668px;
                margin: 0 auto;
            }
        }

        &--right{
            text-align: right;
        }
    }

    &__content{
        & p{
            font-family: var(--nanum);
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: $black;
            max-width: 841px;
            letter-spacing: normal;
            /* or 188% */
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.fun-blogs{
    &__section{
        @extend %divider;
        &--hide-divider{
            &::after{
                content: unset;
            }
        }
        h2{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: $black;
            margin-bottom: 32px;
            @include breakpoint(md){
                margin-bottom: 40px;
            }
            @include breakpoint(lg){
                margin-bottom: 88px;
            }
        }
    }

    &__row{
        row-gap: 24px;
        display: grid;
        grid-row-gap: 24px;
        @include media-breakpoint-up(sm){
            display: flex;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 40px;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            display: grid;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint(md){
            row-gap: 40px;
        }
        @include breakpoint(lg){
            row-gap: 62px;
        }
    }

    &__col{
        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
            width: 100%;
        }

        @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
            width: 100%;
        }
    }
}