.fun-cart{
    &__back-page{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: var(--neutral-grey-800);
        font-family: var(--overpass);
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        &:hover{
            color: $black;
        }

        & svg{
            margin-right: 16px;
        }
    }

    &__header{
        h2{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 40px;
            @include media-breakpoint-up(lg){
                margin-bottom: 81px;
            }
            font-family: var(--overpass);
        }
    }

    &__table{
        & tr{
            & th{
                display: none;
            }
        }
    }

    &__thumbnail{
        max-width: 63px !important;
        max-height: 63px;
        aspect-ratio: 1/1;
    }

    &__product-name{
        font-weight: 300;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $black;
        font-size: 12px;
        // @include media-breakpoint-up(sm){
        //     width: 180px;
        // }
        @include media-breakpoint-up(md){
            font-size: 16px;
            line-height: 21px;
        }
    }

    &__sidebar{
        @include media-breakpoint-up(xl){
            padding-left: 62px;
        }
    }

    &__product-sku{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: var(--neutral-grey-600);
        font-family: var(--overpass);
        margin-top: 6px;
    }
}