.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--neutral-grey-200);
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: space-between;
  }
}


.totals .totals__subtotal{
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  font-family: var(--overpass);
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--black);
}

.totals .totals__subtotal-value{
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  font-family: var(--overpass);
  color: var(--neutral-grey-800);
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}