.pagination-wrapper {
  margin-top: 2.5rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.pagination__list > li {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list > li:not(:last-child) {
  margin-right: 8px;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.pagination__item:hover{
  color: black;
}

.pagination__item::after {
  content: '';
  height: 1px;
  display: block;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  /* transform: translateX(-50%); */
  background-color: currentColor;
  transition: 0.3s all;
}

.pagination__item .icon-caret {
  height: 16px;
  width: 16px;
}

.pagination__item--current::after {
  height: 1px;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* transform: translateX(-50%); */
  background-color: currentColor;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
